<div class="container">
  <h1>Formulario de creacion de una noticia para el Blog</h1>
  <form>
    <div class="mb-3">
      <label for="tituloInput" class="form-label">Titulo de la noticia</label>
      <input type="text" class="form-control" id="tituloInput">
    </div>
    <div class="mb-3">
      <label for="urlFotoInput" class="form-label">Url de la imagen</label>
      <input type="url" class="form-control" id="urlFotoInput">
    </div>
    <div class="mb-3">
      <label for="contenidoInput" class="form-label">Contenido de la noticia</label>
      <textarea name="contenidoNoticia" id="contenidoInput" class="form-control"></textarea>
    </div>
    <div class="mb-3">
      <label for="fechaInput" class="form-label">Selecciona la fecha de publicación</label>
      <input type="date" class="form-control" id="fechaInput">
    </div>
    <button type="submit" class="btn btn-primary">Crear Noticia</button>
  </form>
</div>
