<section>
  <div>
    <div>
      <label for="aficion">Aficion</label>
      <input
        type="text"
        id="aficion"
        placeholder="Introduce una aficion"
        [(ngModel)]="newAficion.aficion"
      />
      <br />
      <label for="nombre">Nombre</label>
      <input
        type="text"
        id="nombre"
        placeholder="Introduce un nombre"
        [(ngModel)]="newAficion.nombre"
      />
    </div>
    <br />
    <button (click)="guardarDatos()">Guardar</button>
  </div>

  <hr />

  <div [innerHTML]="cargarDatos()">
    <!-- Pintar datos, esto solo aqui -->
  </div>
</section>
