<nav class="navbar navbar-expand bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <img src="/logoBlog.png" alt="Logo blog" class="logo">  //Para meter una imagen como logo en el navbar, lo que hay que hacer en meter el archivo en la carpeta public del proyecto y
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">  cambiar en el angular.json la linea con nombre de assets si es necesario(en este caso es el lugar por defecto)
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Noticias</a>
        <a class="nav-link active" aria-current="page" href="#">Formulario</a>
      </div>
    </div>
  </div>
</nav>
